<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>




<style>

.wrap {
  width: 80%;
  margin-top: 8px;
  background: #DCDCDC;
  border-radius: 30px;
  overflow: hidden;
  padding: 72px 55px 90px 55px;
}
body {
  background: #cd5a91;
}

</style>
  </head>
    <body >


<center>
  	<div class="wrap">
  <h1 style="font-family:Brush Script MT; font-size:100px;"> About Us </h1>


        <div class="row">
            <div class="col-sm-8">
    <img src="https://www.livraison-fleurs-domicile.info/wp-content/uploads/2019/03/bouquet-de-fleurs.jpg" width="500px" height="500px" />
            </div>
            <div class="col-sm-4">
                <div class="well">
                  <div class="aboutus">

                                    <p style="font-size:20px;" class="aboutus-text">Our company has been selling flowers for many years and still feels the same pleasure in making bouquets worthy of you. </p>
                                    <p style="font-size:20px;" class="aboutus-text">You can meet us in store in Austin, New York, Los Angeles and Atlanta.</p>

                    </div>
                </div>
            </div>
        </div>


</center>

</div>
</div>


  </body>
</html>
